<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>

<body>
    <ul class="nav nav-underline justify-content-center bg-dark opacity-50 text-uppercase mb-4 p-3 ">
        <li class="nav-item">
            <a class="nav-link text-white bg-dark active" aria-current="page" href="index.html">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white bg-dark" href="products.html">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white bg-dark" href="sales.html">Sales</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white bg-dark " href="register.html">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white bg-dark" href="login.html">Login</a>
        </li>
    </ul>

    <div class="container">
        <h1>Register Page</h1>
        <form id="app" @submit.prevent="registerUser" style="width: 50%; margin: auto; padding-top: 50px;">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" autocomplete="username" v-model="username"
                    required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" autocomplete="email" v-model="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" v-model="password" required>
            </div>



            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.7/vue.min.js"
        integrity="sha512-PhuYrdDBtBeUjY7KTmjRYFFadw8uXXdTmzZyhCHZewYsqZJ0pxFCwU528jRoil42LXMW3ksegQT5zdjkfiR1IA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.8/axios.js"
        integrity="sha512-+dJa1RvuE8/HFftifMtr7hqixdEkb/DizfXUZAA0pyZeVdNnyZyKy9RnIWi0JSWUznbCNbaQNn0E6nbtrdL+9g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                username: '',
                email: '',
                password: '',
                message: ''
            },
            methods: {
                async registerUser() {
                    if (this.username === "" || this.email === "" || this.password === "") {
                        alert("All fields are required.");
                    } try {
                        const response = await axios.post('http://127.0.0.1:5000/register', {
                            username: this.username,
                            email: this.email,
                            password: this.password
                        });
                        alert("registered");
                        this.message = "Registration successful!";

                    } catch (error) {
                        console.error("Registration failed");

                    }
                }
            }
        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>