<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>

    <form id="app" @submit.prevent="registerUser">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" autocomplete="username" v-model="username"
                required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" autocomplete="email" v-model="email"
                required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" v-model="password" required>
        </div>

        

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.7/vue.min.js"
        integrity="sha512-PhuYrdDBtBeUjY7KTmjRYFFadw8uXXdTmzZyhCHZewYsqZJ0pxFCwU528jRoil42LXMW3ksegQT5zdjkfiR1IA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.8/axios.js"
        integrity="sha512-+dJa1RvuE8/HFftifMtr7hqixdEkb/DizfXUZAA0pyZeVdNnyZyKy9RnIWi0JSWUznbCNbaQNn0E6nbtrdL+9g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                username: '',
                email: '',
                password: '',
                message: ''
            },
            methods: {
                async registerUser() {
                    if (this.username === "" || this.email === "" || this.password === "") {
                        alert("All fields are required.");
                    } try {
                        const response = await axios.post('http://127.0.0.1:5000/register', {
                            username: this.username,
                            email: this.email,
                            password: this.password
                        });
                        alert("registered");
                        this.message = "Registration successful!";

                    } catch (error) {
                        console.error("Registration failed");

                    }
                }
            }
        });

    </script>
</body>

</html>